@model BookDetailViewModel
<div class="row lib-mt-8 lib-mx-10">
    <a class="lib-content-medium-m lib-text-gray-800" onclick="book.back()"><img src="~/img/Other/lib-chervon-left.svg" />Wróć</a>
</div>
<div class="row lib-mx-10">
    <partial name="Cards/_BookDetails" model="Model" />
</div>
<div class="row lib-mx-35">
    @foreach (var comment in Model.CommentList)
    {
        <partial name="Cards/_CommentCard" model="comment" />
    }
</div>
<div class="row">
    <hr class="w-100 lib-mx-20 lib-border-color-blue-gray-300" />
</div>
<div class="row lib-mx-35 lib-mb-10">
    <div class="col-9 text-left">
        <label for="CommentForm" class="lib-content-medium-l lib-text-geay-800 lib-pl-10">
            Dodaj komentarz
        </label>
        <input id="CommentForm" name="CommentForm" class="lib-comment-textbox ib-content-medium-m lib-text-gray-600" />

    </div>
    <select class="col-1 lib-mt-8 lib-select form-select lib-content-medium-l lib-text-gray-500" id="RatingId" name="RatingId" aria-label="">
        <option class="lib-content-medium-l lib-text-gray-500" selected>Ocena</option>
        @for (var i = 1; i < 6; i++)
        {
            <option class="lib-content-medium-l lib-text-gray-500" value="@i">@i</option>
        }
    </select>
    <div class="col-2 lib-p-8">
        <button class="btn lib-dark-btn lib-content-semibold-m lib-h-12 lib-w-30" onclick="book.addComment(@Model.BookDetails.BookId)">
            WYŚLIJ
        </button>
    </div>
</div>
@section BundleScripts {
    @await Html.PartialAsync(AppSettingsOptionsAccessor.Value.VersionedScriptPartialView, "book")
}
<script>
    const addCommentUrl = '@Url.Action(nameof(BookController.AddComment), "Book")';
    const returnUrl = '@Url.Action(nameof(BookController.Index), "Book")';
</script>