@model LoginFormViewModel

@{
    Layout = "_Login_Layout";
}

<div id="LoginContainer" class="lib-white-card lib-w-120 lib-mr-45 lib-mt-25">
    <div class="lib-p-15">
        <div class="row justify-content-center lib-mb-12">
            <img class="lib-img" src="~/img/user.png"/>
        </div>
        <form asp-controller="Auth" asp-action="Login" data-method="POST" id="LofinForm" asp-antiforgery="false">
            <div class="row lib-mb-10 form-grup">
                @*<input id="EmailForm" name="Email" class="lib-textbox lib-content-medium-l lib-text-gray-500 form-control" placeholder="Nazwa użytkownika" type="text" required />*@
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control lib-textbox lib-content-medium-l lib-text-gray-500", @name="Email", @placeholder = "Nazwa użytkownika" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="row lib-mb-6 form-grup">
                @*<input id="PasswordForm" name="Password" class="lib-textbox lib-content-medium-l lib-text-gray-500 form-control" placeholder="Hasło" type="password" data-val-required="" required />*@
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control lib-textbox lib-content-medium-l lib-text-gray-500", @name = "Password", @Type="password", @placeholder = "Hasło" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            @if (ViewBag.ErrorAuthorize != null)
            {
                <div class="row lib-mb-6">
                    <label class="lib-content-medium-m lib-text-red-primary">@ViewBag.ErrorAuthorize</label>
                </div>
            }
            <div class="row justify-content-end lib-mt-6 form-group">
                <button type="submit" class="btn lib-dark-btn lib-content-semibold-m lib-text-gray-50 lib-w-24 lib-h-10">ZALOGUJ</button>
            </div>
        </form>
    </div>
</div>