@model UserDetail
<div class="lib-mb-5 lib-mt-5 lib-white-card w-100 lib-mb-5">
    <div class="row lib-p-3">
        <div class="col-auto">
            <img src="~/img/userI.png" style="width:100px; height: 100px;" />
        </div>
        <div class="col">
            <div class="row lib-mt-1">
                <span class="lib-content-medium-l">@Model.FirstName @Model.LastName</span>
                @if (Model.IsActive != 1)
                {
                    <span class="lib-text-red-primary lib-content-semibold-xs"> ( KONTO NIEAKTYWNE ) </span>
                }
            </div>
            <div class="row">
                @if (Model.RoleName == "User")
                {
                    <span class="lib-content-regular-m">
                        Użytkownik
                    </span>
                }
                else
                {
                    <span class="lib-content-regular-m">
                        @Model.RoleName
                    </span>
                }
            </div>
            @if (Model.RoleName == "User")
            {
                <div class="row">
                    <span class="lib-content-regular-s">Klasa @Model.Class</span>
                </div>
            }
        </div>
        <div class="col-auto">
            <div class="row justify-content-end ">
                <div class="text-center lib-p-2">
                    <a class="btn lib-simple-btn lib-content-regular-m lib-w-25 lib-mr-2" href='@Url.Action(nameof(UserController.EditUser), "User", new { id = @Model.UserId, firstName = Model.FirstName, lastName = Model.LastName, email = Model.Email, clas = Model.Class, active = Model.IsActive })'>Zarządzaj</a>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="text-center lib-p-2">
                    <a class="btn lib-simple-btn lib-content-regular-m lib-w-25 lib-mr-2" href='@Url.Action(nameof(UserController.GetUserBooks), "User", new { id = @Model.UserId })'>Statystyki</a>
                </div>
            </div>
        </div>
    </div>
</div>
