@model EditUserViewModel

<div class="lib-mb-5 lib-mt-25 lib-white-card lib-w-163">
    <div class="row lib-pt-8 justify-content-center">
        <span class="lib-content-extrabold-xl lib-text-blue-gray-800">ZARZĄDZAJ UŻYTKOWNIKEIM</span>
    </div>
    <form asp-controller="User" asp-action="Edit" data-method="POST" id="EditUserFormForm" asp-antiforgery="false">
        <div class="row lib-p-7">
            <div class="col lib-m-2">
                <div class="row lib-mb-6">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control lib-textbox lib-content-medium-l lib-text-gray-500", @name = "FirstName", @placeholder = "Imię" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="row lib-mb-6">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control lib-textbox lib-content-medium-l lib-text-gray-500", @name = "LastName", @placeholder = "Nazwisko" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="row lib-mb-6">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control lib-textbox lib-content-medium-l lib-text-gray-500", @name = "Password", @placeholder = "Hasło", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row lib-mb-6">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control lib-textbox lib-content-medium-l lib-text-gray-500", @name = "ConfirmPassword", @placeholder = "Potwierdź hasło", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col lib-m-2">
                <div class="row lib-mb-6">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control lib-textbox lib-content-medium-l lib-text-gray-500", @name = "Email", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="row lib-mb-6">
                    @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control lib-textbox lib-content-medium-l lib-text-gray-500", @name = "Class", @placeholder = "Klasa" } })
                </div>
                <div class="row lib-mb-6">
                    @*<select class="lib-select form-select lib-content-medium-l lib-text-gray-500" id="AuthorDropdown" name="IsActive" aria-label="">
                        <option class="lib-content-medium-l lib-text-gray-500" selected>Aktywnosć konta</option>
                        <option class="lib-content-medium-l lib-text-gray-500" value="true">Aktywny</option>
                        <option class="lib-content-medium-l lib-text-gray-500" value="false">Nieaktywny</option>
                    </select>*@
                    @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                    {
                          new SelectListItem { Text = "Aktywny", Value = "true"},
                          new SelectListItem { Text = "Nieaktywny", Value = "false"}
                    },
                    "Wybierz rolę",
                    new { @class = "lib-select form-select lib-content-medium-l lib-text-gray-500" })
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
                <div class="row lib-mb-6">
                    <input id="UserId" name="UserId" class="lib-textbox lib-content-medium-l lib-text-gray-500" placeholder="Klasa" type="number" value="@Model.UserId" hidden/>
                </div>
            </div>
        </div>
        <div class="row justify-content-end lib-pr-10 lib-pb-5">
            <button type="submit" class="btn lib-dark-btn lib-text-gray-50 lib-w-24 lib-h-10 lib-content-bold-m">EDYTUJ</button>
        </div>
    </form>
</div>
