@model UserBooksViewModel

<div class="row lib-mt-8 lib-mx-10">
    <a class="lib-content-medium-m lib-text-gray-800" onclick="back()"><img src="~/img/Other/lib-chervon-left.svg" />Wróć</a>
</div>
@foreach (var book in Model.Books)
{
    <div class="lib-mb-5 lib-mt-5 lib-white-card w-100 lib-mb-5">
        <div class="row lib-p-3">
            @*<div class="col-auto">
                <img src="~/img/BookCovers/Doktor-Sen.jpg" style="width:100px; height: 100px;" />
            </div>*@
            <div class="col lib-ml-7">
                <div class="row lib-mt-5">
                    <span class="lib-content-medium-xl">@book.AuthorFirstName @book.AuthorLastName</span>
                </div>
                <div class="row">
                    <span class="lib-content-medium-l">@book.Title</span>
                </div>
            </div>
            @if (book.IsReserved)
            {
                <div class="col-auto">
                    <div class="row justify-content-end ">
                        <div class="lib-p-2">
                            <span class="lib-reserved-card lib-content-semibold-s lib-w-40">ZAREZERWOWANA</span>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="text-center lib-p-2">
                            <button class="btn lib-simple-btn lib-content-semibold-m lib-w-40" onclick="returnBook(@book.BookId)">Anuluj rezerwację</button>
                        </div>
                        <div class="text-center lib-p-2">
                            <button class="btn lib-simple-btn lib-content-semibold-m lib-w-40" onclick="changeStateReservation(@book.BookId)">Wypożycz</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-auto">
                    <div class="row justify-content-end ">
                        <div class="lib-p-2">
                            <span class="lib-disabled-card lib-content-semibold-s lib-w-35">WYPOŻYCZONA</span>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="text-center lib-p-2">
                            <button class="btn lib-simple-btn lib-content-semibold-m lib-w-35" onclick="returnBook(@book.BookId)">Zwróć</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
@if (Model.Books.Count == 0)
{
    <div class="row lib-mt-8 lib-mx-10">
        <span class="lib-content-medium-m lib-text-gray-800">Obecnie nie użytkownik nie ma wypożyczonych książek.</span>
    </div>
    <div class="row lib-mt-8 lib-mx-10">
        <span class="lib-content-medium-m lib-text-gray-800">Wróć do strony głównej aby znaleźć interesującą książkę.</span>
    </div>
}
<script>
    function back() {
        window.location.href = '@Url.Action(nameof(UserController.Index), "User")';
    }

    @*function bookReservation(id) {
        var model = {
            UserId: 2,
            BookId: id
        }

        httpClient
            .post({
                url: '@Url.Action(nameof(BookController.BookReserved), "Book")',
                data: model
            })
            .then(
                () => {
                    //window.location.href = '@Url.Action(nameof(UserController.GetUserBooks), "User")';
                    location.reload();
                }
            )
    }*@

    function returnBook(id) {
        var model = {
            UserId: 2,
            BookId: id
        }

        httpClient
            .post({
                url: '@Url.Action(nameof(BookController.ReturnBook), "Book")',
                data: model
            })
            .then(
                () => {
                    //window.location.href = '@Url.Action(nameof(UserController.GetUserBooks), "User")';
                    location.reload();
                }
            )
    }

    function changeStateReservation(id) {
        var model = {
            UserId: 2,
            BookId: id
        }

        httpClient
            .post({
                url: '@Url.Action(nameof(BookController.ChangeStateReservation), "Book")',
                data: model
            })
            .then(
                () => {
                    //window.location.href = '@Url.Action(nameof(UserController.GetUserBooks), "User")';
                    location.reload();
                }
            )
    }

    @*function borrowBook(id) {
        var model = {
            UserId: 2,
            BookId: id
        }

        httpClient
            .post({
                url: '@Url.Action(nameof(BookController.BorrowBook), "Book")',
                data: model
            })
            .then(
                () => {
                    window.location.href = '@Url.Action(nameof(UserController.GetUserBooks), "User")';
                }
            )
    }*@
</script>