@model BookDetailViewModel

<div class="lib-mb-5 lib-mt-5 lib-book-detail-card w-100 lib-mb-5">
    <div class="row lib-p-3">
        <div class="col lib-ml-7">
            <div class="row lib-mt-1">
                <span class="lib-content-semibold-xl lib-text-gray-800">@Model.BookDetails.AuthorFirstName @Model.BookDetails.AuthorLastName</span>
            </div>
            <div class="row">
                <span class="lib-content-semibold-l lib-text-gray-600 lib-mt-2">@Model.BookDetails.Title</span>
            </div>
            <div class="row text-left lib-mt-2 lib-mt-2">
                <span class="lib-content-regular-m">@Model.BookDetails.Description</span>
            </div>
        </div>
        <div class="col-1">
            <div class="row justify-content-end">
                @if (Model.Rating > 0)
                {
                    <span class="lib-content-medium-m lib-w-25">Ocena: @Model.Rating</span>
                }
                else
                {
                    <span class="lib-content-medium-m lib-w-25">Brak ocen</span>
                }
            </div>
        </div>
    </div>
</div>
