<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lib.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/js/bundles/@WebpackChunkNamer.GetCssFile("test")" />
    <link rel="stylesheet" href="~/js/bundles/@WebpackChunkNamer.GetCssFile("home")" />
    <link rel="stylesheet" href="~/js/bundles/@WebpackChunkNamer.GetCssFile("core")" />
    @RenderSection("BundleStyles", required: false)
</head>
<body>
    <header>
        <div class="lib-main-sidenav lib-bg-gray-50">
            <nav id="MainNavBar" class="navbar navbar-expand-sm lib-pt-2">
                <div class="navbar-brand lib-pl-5">
                    <img src="~/img/Other/logo.svg"/>
                    <span class="lib-content-bold-s">TWOJA BIBLIOTEKA</span>
                </div>
                <div class="collapse navbar-collapse" id="NavbarItems">
                    <div class="d-inline-block lib-menu lib-pt-2">
                        <div class="lib-menu-item lib-pr-3">
                            <span class="lib-content-semibold-m lib-text-gray-800">Dominika Góralczyk</span>
                        </div>
                        <div class="lib-menu-item lib-pr-6">
                            <button class="btn lib-button-header-light lib-w-10 lib-mb-2" href="#">
                                <img src="~/img/Other/lib-logout2.svg" />
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="sidebar">
        <button class="dropdown-btn active lib-content-medium-xl lib-text-blue-gray-50 lib-mt-10 lib-h-14">
            Książki
        </button>
        <div class="dropdown-container lib-mt-3">
            <a class="lib-content-medium-l lib-text-blue-gray-50 lib-h-14 lib-ml-3" href="@Url.Action(nameof(BookController.AddAuthor), "Book")">Dodaj autora</a>
            <a class="lib-content-medium-l lib-text-blue-gray-50 lib-h-14 lib-ml-3" href="@Url.Action(nameof(BookController.AddBook), "Book")">Dodaj książkę</a>
            <a class="lib-content-medium-l lib-text-blue-gray-50 lib-h-14 lib-ml-3" href="@Url.Action(nameof(BookController.GenerateCode), "Book")">Generuj kody</a>
            <a class="lib-content-medium-l lib-text-blue-gray-50 lib-h-14 lib-ml-3" href="@Url.Action(nameof(BookController.Index), "Book")">Znajdź książkę</a>
        </div>
        <button class="dropdown-btn active lib-content-medium-xl lib-text-blue-gray-50 lib-h-14">
            Użytkownicy
        </button>
        <div class="dropdown-container lib-mt-3">
            <a class="lib-content-medium-l lib-text-blue-gray-50 lib-h-14 lib-ml-3" href="@Url.Action(nameof(UserController.Index), "User")">Podgląd użytkowników</a>
            <a class="lib-content-medium-l lib-text-blue-gray-50 lib-h-14 lib-ml-3" href="@Url.Action(nameof(UserController.AddUser), "User")">Dodaj użytkownika</a>
        </div>
        <button class="dropdown-btn active lib-content-medium-xl lib-text-blue-gray-50 lib-h-14">
            Statystyki
        </button>
        <div class="dropdown-container lib-mt-3">
            <a class="lib-content-medium-l lib-text-blue-gray-50 lib-h-14 lib-ml-3" href="#">Wszystkie książki</a>
            <a class="lib-content-medium-l lib-text-blue-gray-50 lib-h-14 lib-ml-3" href="#">Wypożyczone ksiażki</a>
        </div>
    </div>
    <div class="lib-content-container">
        <main role="main" class="text-center">
            @RenderBody()
        </main>
    </div>
    @*<script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script charset="utf-8" type="text/javascript" src="~/js/bundles/@WebpackChunkNamer.GetJsFile("core")"></script>
    @*<script src="~/js/bundles//test.js" asp-append-version="true"></script>
        <script src="~/js/bundles//home.js" asp-append-version="true"></script>*@
    @*    <link rel="stylesheet" href="~/js/bundles/@WebpackChunkNamer.GetCssFile("autocore")" />*@
    @RenderSection("Scripts", required: false)
    @RenderSection("BundleScripts", required: false)
</body>
</html>
