<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lib.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/js/bundles/@WebpackChunkNamer.GetCssFile("test")" />
    <link rel="stylesheet" href="~/js/bundles/@WebpackChunkNamer.GetCssFile("home")" />
    <link rel="stylesheet" href="~/js/bundles/@WebpackChunkNamer.GetCssFile("core")" />
    @RenderSection("BundleStyles", required: false)
</head>
<body>
    <header>
        <div class="lib-main-sidenav lib-bg-gray-50">
            <nav id="MainNavBar" class="navbar navbar-expand-sm lib-pt-2">
                <div class="navbar-brand lib-pl-5 lib-pt-2">
                    Library
                </div>
                <div class="collapse navbar-collapse" id="NavbarItems">
                    <div class="d-inline-block lib-menu">
                        <div class="lib-menu-item lib-pr-6">
                            <span class="lib-content-bold-s lib-text-gray-50">Dominika Góralczyk</span>
                        </div>
                        <div class="lib-menu-item lib-pr-6">
                            <button class="btn lib-button-header-light lib-content-bold-s lib-text-gray-50 lib-w-25" href="#">LogOut</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="sidebar">
        <div class="lib-mt-10 lib-active">
            <a class="lib-content-medium-xl lib-text-blue-gray-600 lib-m-6" href="#">Książki</a>
        </div>
        <div class="">
            <a class="lib-content-medium-xl lib-text-blue-gray-50 lib-m-6" href="#">Użytkownicy</a>
        </div>
        <div class="">
            <a class="lib-content-medium-xl lib-text-blue-gray-50 lib-m-6" href="#">Statystyki</a>
        </div>
    </div>
    <div class="lib-content-container">
        <main role="main" class="text-center">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script charset="utf-8" type="text/javascript" src="~/js/bundles/@WebpackChunkNamer.GetJsFile("core")"></script>
    @*<script src="~/js/bundles//test.js" asp-append-version="true"></script>
        <script src="~/js/bundles//home.js" asp-append-version="true"></script>*@
    @*    <link rel="stylesheet" href="~/js/bundles/@WebpackChunkNamer.GetCssFile("autocore")" />*@
    @RenderSection("Scripts", required: false)
    @RenderSection("BundleScripts", required: false)
</body>
</html>
